// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  margin: 1rem 5rem 1rem 5rem;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.inner-container {
  display: flex;
  flex-direction: column;
}

.main-body {
  display: flex
}

.left-column {
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding: .5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: slategrey;
  background-color: lightblue;
}

.right-column {
  width: 66%;
  display: flex;
  flex-direction: column;
}

.message-container {
  background-color: lightgray;
  padding: 1rem;
  border-radius: .5rem;
  margin-left: 1rem;
}

.messages {
  height: 25rem;
  overflow-y: scroll;
}

.message {
  border-radius: 4px;
  padding: .3rem;
  background-color: antiquewhite;
  color: darkslategray;
  margin-bottom: .2rem;
  width: max-content;
}

.message-text {

}

.message-sender {
  font-size: .6rem;
}

.user.selected-user {
  color: slategrey;
  background-color: lightblue;
  border: 0;
}

.user {
  border: 2px solid darkgray;
  border-radius: 4px;
  padding: .3rem;
  background-color: dimgray;
  color: lightgray;
  margin-bottom: .2rem;

  &:hover {
    background-color: orange;
    color: dimgray;
  }
}
