// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  margin: 1rem 5rem 1rem 5rem;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.inner-container {
  display: flex;
  flex-direction: column;
}

.main-body {
  display: flex
}

.left-column {
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.right-column {
  width: 66%;
  display: flex;
  flex-direction: column;
}

.selected-user {
  background-color: greenyellow;
}
